/* Reset */ 

*, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Utils */

.container {
    max-width: 90%;
    margin-inline: auto;
}

.btn-whatsapp {
    background-color: #25D366;
    border-color: #fff;
    color: #ffffff;
    filter: drop-shadow(0 0 4px #25d366);
}

.materials-container {
    padding-bottom: 3rem;

& .materials {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    width: 100%;
    justify-content: center;
}

}

.section-title {
    margin-block: 2.5rem 1.25rem;;

& .title-underline {
    height: 3px;
    background: linear-gradient(to right, #aaacad, transparent);
    margin-top: .25rem;
}

& h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
}

& .center {
    text-align: center;
}

}

.material {
    width: 10.5rem;
    height: 16rem;
    padding: .5rem;
border: 1px solid #aaacad;
border-radius: .5rem;
display: flex;
flex-direction: column;
align-items: center;
background: #f5f7fa;

    & img {
        width: 9.5rem;
        height: 12rem;
        border: 2px solid #aaacad;
        border-radius: inherit;
    }

& .tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: .25rem .5rem;

    & strong  {
        font-size: 1.05rem;
        font-weight: 550;
    }

}

}

.more {
    color: #333;
    padding: 1.25rem;
    margin-bottom: 2rem;
    display: flex;
    border-radius: .5rem;
    flex-direction: column;
    border: 1px solid #aaacad;
    background: linear-gradient(135deg, #f5f7fa 0%, #e4e8eb 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
max-width: 30rem;
margin-inline: auto;

& div {
display: flex;
flex-wrap: wrap;
gap: .5rem;
align-items: center;
flex-direction: column;
& span {
    font-weight: 550;
    color: #333;
}

a {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    transition: transform 300ms ease;

&:hover {
    transform: scale(1.05);
}

}

}

& small {
    text-align: center;
    margin-top: .5rem;
    font-size: .875rem;
    font-weight: 500;
}

}

/* General */ 

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: rgba(246, 244, 177, 0.715); */
    background-color: #fff;
    font-family: 'Roboto flex', sans-serif;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
} 

@media (width >= 768px) {
    .more {
        & div {
            & span {
                font-size: 1.15rem;
            }
        }
    }
}
