/* Reset */ 

*, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Utils */

.container {
    max-width: 90%;
    margin-inline: auto;
}

.material {
    width: 12rem;
    height: 16rem;
    padding: .5rem;
border: 1px solid #e4e8eb;
border-radius: .5rem;
display: flex;
flex-direction: column;
align-items: center;
background: #f5f7fa;
    & img {
        width: 11rem;
        height: 12rem;
        border: 2px solid #e4e8eb;
        object-fit: cover;
        border-radius: inherit;
    }

& .tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: .25rem .5rem;

    & strong {
        font-size: 1.05rem;
        font-weight: 550;
    }

}

}


/* General */ 

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: rgba(246, 244, 177, 0.715); */
    background-color: #fff;
    font-family: 'Roboto flex', sans-serif;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
} 

/* Test */

#test {
    & h2 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

& .materials {
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    width: 100%;
    justify-content: center;
}

}